# Never modify these files (part of test data)
tests/TestData*/**/*.txt -text
tests/TestData*/**/*.vhdr -text
tests/TestData*/**/*.vmrk -text
tests/TestData*/**/*.tbvj -text
tests/TestData*/**/*.prt -text
tests/TestData*/**/*.fmr -text
tests/TestData*/**/*.pos -text
tests/TestData*/**/*.xpe -text
tests/TestData*/**/*.xpd -text

tests/TestData*/**/*.dcm binary
tests/TestData*/**/*.IMA binary
