# Always add only line feed at end of lines for these files (part of test data)
*.vhdr text eol=lf
*.vmrk text eol=lf
*.tbvj text eol=lf
*.prt text eol=lf
*.fmr text eol=lf
*.pos text eol=lf
*.xpe text eol=lf
*.xpd text eol=lf
tests/*.txt text eol=lf

# Never modify these files (part of test data) 
*.dcm binary
*.IMA binary
